<!-- Generated your favicon at realfavicongenerator.net and copy code here -->
<link rel="apple-touch-icon" sizes="180x180" href="http://l-m-sherlock.github.io/thoughts-memo/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="http://l-m-sherlock.github.io/thoughts-memo/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="http://l-m-sherlock.github.io/thoughts-memo/icons/favicon-16x16.png">
<link rel="manifest" href="http://l-m-sherlock.github.io/thoughts-memo/icons/site.webmanifest">
<link rel="mask-icon" href="http://l-m-sherlock.github.io/thoughts-memo/icons/safari-pinned-tab.svg" color="#000000">
<link rel="shortcut icon" href="http://l-m-sherlock.github.io/thoughts-memo/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-config" content="http://l-m-sherlock.github.io/thoughts-memo/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
