<!-- Generated your favicon at realfavicongenerator.net and copy code here -->
<link rel="apple-touch-icon" sizes="180x180" href="https://l-m-sherlock.github.io/githubpages_withorbit/logo.png/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://l-m-sherlock.github.io/githubpages_withorbit/logo.png/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://l-m-sherlock.github.io/githubpages_withorbit/logo.png/favicon-16x16.png">
<link rel="manifest" href="https://l-m-sherlock.github.io/githubpages_withorbit/logo.png/site.webmanifest">
<link rel="mask-icon" href="https://l-m-sherlock.github.io/githubpages_withorbit/logo.png/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="https://l-m-sherlock.github.io/githubpages_withorbit/logo.png/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="https://l-m-sherlock.github.io/githubpages_withorbit/logo.png/browserconfig.xml">
<meta name="theme-color" content="#ffffff">